body {
    margin: 0;
    font-family: Segoe UI, sans-serif;
}

#map {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.sidebar {
    position: fixed;
    z-index: 1000;
    left: 12px;
    top: 12px;
    width: 330px;
    background: white;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0,0,0,.2);
    max-height: 90vh;
    overflow: auto;
}

input,
select,
button {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    border: none;
    background: #00A3A3;
    color: white;
    cursor: pointer;
}

#clearFilters {
    background: #5B2C83;
}

#clearFilters:hover {
    background: #482266;
}

.result-item {
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #f8f8f8;
    border-left: 5px solid #00A3A3;
    transition: .2s;
}

.result-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 8px rgba(0,0,0,.15);
}

.result-item b {
    color: #5B2C83;
}

.legend {
    margin-top: 20px;
    padding: 12px;
    background: #f8f8f8;
    border-radius: 10px;
}

.legend h4 {
    margin-top: 0;
    color: #5B2C83;
}

.legend p {
    margin: 6px 0;
}
